$primary: #6200ea;
$accent: #ec407a;
$warn: #de0000;
$tertiary: #2c9bb7;
$orange: #ffb400;

// very close to tertiary,
// so going with tertiary
$from-design: rgb(42, 151, 180);

$ubuntu: 'Ubuntu',
'Open Sans',
'Helvetica Neue',
sans-serif;
