@import '/src/app/variables';

.main-container{
  width: calc(100vw - 50px);
  height: calc(100vh - 98px);
  padding: 25px;
}

.floating-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: $primary;
  font-size: 32px;
  font-weight: 100;
}
